:root {
    --white: #ffffff;
    --bg: #111111;
    --square: #1d1d1d;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square {
    background-color: var(--square);
    box-shadow: 0 0 2px var(--black);
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}
